---
layout: default
---

<article class="post">
    <header class="post-header">
        <h1 class="post-title">{{page.title }}</h1>
    </header>
    <div class="post-content">
        {{ content }}
    </div>
</article>

{% if page.previous or page.next %}
<nav id="page-list-nav">
    <ul class="pager pager-nav"> 
        {% if page.next %}
        <li class="previous" >
            <a rel="prev" href="{{ page.next.url | prepend: site.baseurl }}" title="{{ page.next.title | escape }}">&laquo; 上一篇</a>
        </li>
        {% endif %}
        {% if page.previous %}
        <li class="next">
            <a rel="next" href="{{ page.previous.url | prepend: site.baseurl }}" title="{{ page.previous.title | escape }}">下一篇 &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}